<?xml version="1.0"?>
<model>
  <name>acroba_bot</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Ibrahima NIASSE</name>
    <email>ibrahimaniasse@github.com</email>
  </author>
  <description>
    Differential-drive mobile robot with 2D LiDAR and IMU sensors.
    Designed for behavior framework validation in Gazebo Harmonic.
  </description>
</model>
